*{
    margin: 0;padding: 0;
}
.main{
    background-color: white;
 
}
nav{
  
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
   height: 12vh;
   align-items: center;
    padding-right: 70px;
}
nav li {
    margin: 0 20px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.main-content{
    height:86vh;
    width: 100%;
    display: flex;
  
}
.main-content-left{
    width: 60%;
   
    padding-left: 30vh;
}
.main-content-right{
    width: 40%;
   padding-right: 30vh;
   
    display: flex;
    flex-direction: row-reverse;
}
.content-text-1{
    margin-top: 28vh;
    margin-bottom: 30px;
}
.content-text-1 h1{
    font-size: 50px;
}
.content-text-2{
    
    margin-bottom: 30px;
    display: flex;
    padding-right: 50px;
}
.content-text-3 button{
    width: 170px;
    height: 32px;
    color: white;
    background-color: #eb5550;
    border:0;
    border-radius: 2px;
}
.profile-pic{
    border-radius: 100%;
    border: 2px transparent ;
    background-image: url(assets/Muzan-Kibutsuji.png);
    height: 280px;
    width: 280px;
    background-size: cover;
    margin-top: 24vh;
   
}
.main-content-left .profile-pic{
    display: none;
}

/* PAGE TWO */
.main-2{
    height: 100vh;
    /* background-color: #eb5550; */
   display: flex;
   align-items: center;
  
}
.recent-posts{
    height: 70%;
    background-color: rgb(198, 230, 236);
    width: 100%;
    padding: 0 30vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}
.recent-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
 
}
.r-left{
    font-size: 24px;
   
}
.r-right{
    color:darkturquoise;
    
}
.recent-content{
    display: flex;
    justify-content: space-between;
}
.r-content{
    height: 50vh;
    background-color: white;
    width: 530px;
}
.post-header{
    height: 30%;
    /* background-color: cyan; */
    padding: 0 30px;
    display: flex;
    align-items: flex-end;
}
.post-sub-header{
    height: 25%;
    /* background-color: red; */
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.post-sub-header pre{
    font-size: 20px;
    opacity: 0.7;
}
.post-text{
    padding: 0 30px;
}
.post-text p{
    font-size: 17px;
    line-height: 25px;
}
@media only screen and (max-width: 600px) {
    .main-content{
        flex-direction: column;
        height: 100vh;
    }
    nav{
        width: 100%;
        height: 10vh;
        padding: 0;
  
    }
    nav li{
        display: none;
    }
    .main-content{
       height: 90vh;
        width: 100%;
     
    }
    .main-content-left{
        height: 100%;
        width: 100%;
  
        padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  
    }
    .content-text-1
    {
       flex-direction: column;
        align-items: center;
        max-width: 70%;
        margin-bottom: 0;
        margin: 0;
    }
    .content-text-1 h1{
        font-size: 35px;
       text-align: center;
    }
    .content-text-2 {
     margin: 0;
     padding: 0;
     max-width: 80%;
       text-align: center;
       font-size: 15px;
    }
    .main-content-right{
        display: none;
    }
    .main-content-left .profile-pic{
        display: flex;
        margin: 0;
        height: 200px;
        width: 200px;
    }
    .content-text-3 button{
        width: 170px;
        height: 45px;
        color: white;
        background-color: #eb5550;
        border:0;
        border-radius: 2px;
        margin: 10px 0;
    }
    .bars{
        height: 100%;
        margin-right:20px;
        margin-top: 26px;
      
    }
    .bar{
        width: 35px;
        height: 3px;
        background-color: darkgrey;
        border-radius: 20px;
        margin-top: 8px;
    }
    .main-2{
       height: 120vh;
     
    }
    .recent-posts{
        height: 100%;
        padding: 0;
        justify-content: flex-start;
        align-items: center;
    }
    .recent-header .r-right{
        display: none;
    }
    .recent-content{
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    .r-content{
        width: 95%;
       margin-bottom: 20px;
       height: 50vh ;
     
    }
    .post-header{
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .post-sub-header{
        flex-wrap: wrap;
    }
    .post-sub-header pre{
        flex-wrap: wrap;
        font-size: 16px;
    }
    .post-sub-header{
        padding-top: 20px;
        align-items: flex-start;
        /* background-color: yellow; */
        height: 10%;
    }
    .post-text{
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 10px;

        /* background-color: red; */
    }
  }